mixin social-share(post)
  .row.fs-4&attributes(attributes)
    - var url = metadata.url+filters.url(post.url)
    - var title = encodeURIComponent(post.title)
    .col.px-1
      a.link-logo(href=`https://www.facebook.com/sharer/sharer.php?u=${url}` title="External Link - Share on Facebook" target="_blank" rel="noopener noreferrer")
        i.bi-facebook
    .col.px-1
      a.link-logo(href=`https://twitter.com/intent/tweet?source=webclient&text=${title}+${url}` title="External Link - Share on X - Twitter" target="_blank" rel="noopener noreferrer")
        i.bi-twitter-x
    .col.px-1
      a.link-logo(href=`https://bsky.app/intent/compose?text=${title}%0A${url}` title="External Link - Share on Bluesky" target="_blank" rel="noopener noreferrer")
        i.bi-bluesky
    .col.px-1
      a.link-logo(href=`https://www.reddit.com/submit?url=${url}` title="External Link - Share on Reddit" target="_blank" rel="noopener noreferrer")
        i.bi-reddit
    .col.px-1
      a.link-logo(href=`https://www.linkedin.com/shareArticle?mini=true&url=${url}&title=${title}&source=${metadata.url}` title="External Link - Share on LinkedIn" target="_blank" rel="noopener noreferrer")
        i.bi-linkedin
    .col.px-1
      a.link-bw.share-menu-url(href=url title=`Share: ${post.title}` target="_blank" rel="noopener noreferrer")
        i.bi-box-arrow-up
