mixin columns-1(section)
    section.block-one-column&attributes(attributes)
        .container
            .row.my-5
                .col.p-3
                    h3.text-center !{section.header}
                    p !{section.content}

mixin columns-2(section)
    section.block-two-columns&attributes(attributes)
        .container
            .row.my-5
                .col.p-3
                    h3.text-center !{section.header1}
                    p !{section.content1}
                .col.p-3
                    h3.text-center !{section.header2}
                    p !{section.content2}


mixin columns-3(section)
    section.block-three-columns&attributes(attributes)
        .container
            .row.my-5
                .col.p-3
                    h3.text-center !{section.header1}
                    p !{section.content1}
                .col.p-3
                    h3.text-center !{section.header2}
                    p !{section.content2}
                .col.p-3
                    h3.text-center !{section.header3}
                    p !{section.content3}

mixin columns-footer(section)
    section.block-footer-2&attributes(attributes)
        .container
            .row.my-5
                .col.p-3
                    img(src=metadata.icon width="24" height="auto" alt="Logo")

                each col in section
                    .col.p-3
                        if typeof col == 'string'
                            | !{col}
                        else if typeof col == 'object'
                            ul.list-unstyled
                                each el,idx in col
                                    if el.link
                                        li: a(href=el.link, rel=`${el.link.match(/^https?:\/\//i)? "noreferrer": "" }`, class=el.class) !{el.text}
                                    else
                                        li !{el.text}
                