---
layout: project
title: "Bits & Pieces | Sebastian"
image: /images/science/icon-elements-periodic-table.svg
description: "Some small projects and code bits from a long time ago; polished and brought back to life."
permalink: "/bits-pieces/"
---
block append content 
  
  section.bg-primary 
    .container
      .row.text-light
        .col.my-5
          h1.fs-2 #[span.fw-lighter Bits and Pieces]#[br]Small Projects &amp; Other Things
          | !{filters.markdown("text-blocks/bits-and-pieces.md")}

  section
    .container
      .row
        .col-12.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter MultispeQ]#[br]Python Libraries
            .col-12.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="https://openjii.org/" target="_blank" rel="noreferrer") !{filters.image( filters.url("/images/jii/openJII-logo-vertical-yellow.svg"), "Data Viewer" )}
            .col-12.col-md-8.offset-md-4.order-last
              p The MultispeQ device uses a serial connection for communication with other devices using a USB cable or via Bluetooth®.
                | The first Python library allows to use scripts to control the MultispeQ and create complex measurements and experiments.
                | The second one is a collection of measurement protocols with numerous supporting functions around creating and using protocols.
              
              p The development of the libraries also includes the documentation on how to work and develop them. It is implemented using 
                | #[a(href="https://www.sphinx-doc.org/en/master/" target="_blank" rel="noreferrer") Sphinx] in combination with a GitHub workflow 
                | to update the documentation automatically when updates are pushed.

              p.small
                em Currently both libraries are not on yet added to The Python Package Index (PyPI) #[a(href="https://pypi.org/" target="_blank" rel="noreferrer") pypi.org] but can be installed from the Github repo.

              a.btn.btn-sm.btn-outline-secondary(href="https://github.com/Jan-IngenHousz-Institute/JII-MultispeQ/" target="_blank" rel="noreferrer") #[i.bi.bi-github] JII-MultispeQ on Github
              | 
              a.btn.btn-sm.btn-outline-secondary(href="https://github.com/Jan-IngenHousz-Institute/JII-MultispeQ-Protocols/", target="_blank" rel="noreferrer") #[i.bi.bi-github] JII-MultispeQ-Protocols on Github

  section
    .container
      .row
        .col-12.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Data Analysis]#[br]React Data Viewer
            .col-12.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/react-data-viewer/") !{filters.image( filters.url("/images/programming/react-data-viewer.svg"), "Data Viewer" )}
            .col-12.col-md-8.offset-md-4.order-last
              p This data viewer web application lets you bring in data from text, CSV, JSON and parquet files for analysis. You can filter data, 
                | set thresholds, define data types, and plot data. You can also perform statistical tests and add data to maps 
                | when you have geocoordinates. 
                | The analysis can be saved, including the original data, and shared with others for collaboration. 
                | Results can be added to a dashboard, which updates automatically when you filter, set thresholds, or change the selection of subsets.
                | In addition to graphs and maps, several statistical tests, notes, and <em>k</em>-means clustering are available.
              p.small
                em This is still an early version, so if you spot any issues or need any help, please let me know!
              p.small Why is React in the title? Well, the application is based on the free and open-source front-end JavaScript library #[a(href="https://react.dev" target="_blank" rel="noreferrer") React], but  
               | there are many other amazing open libraries like #[a(href="https://plotly.com/", target="_blank" rel="noreferrer") Plotly] for visualizing the data making this app possible.

              a.btn.btn-sm.btn-outline-secondary(href="/react-data-viewer/" target="_blank" rel="noreferrer") #[i.bi.bi-binoculars] Explore Your Data
              | 
              a.btn.btn-sm.btn-outline-secondary(href="https://github.com/SeBassTian23/react-data-viewer", target="_blank" rel="noreferrer") #[i.bi.bi-github] Source on GitHub

  section
    .container
      .row
        .col-12.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Photosynthesis]#[br]Scheme Creator
            .col-12.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/photosynthesis-scheme/") !{filters.image( filters.url("/images/science/photosynthesis-scheme.svg"), "Photosynthesis Scheme" )}
            .col-12.col-md-8.offset-md-4.order-last
              p Creating or modifying the Photosynthetic Scheme for presentations or posters can become time-consuming, 
                | including finding figures or previously used files, modifying, labeling, or changing colors.
                | The creator was built to easily add or remove complexes, different pathways, etc.,
                | and export the figure as a vector graphic or a regular image file.
                | It also provides a simple figure legend based on the selected elements.
              p.small The figure style is based on Kramer, D. M., Avenson, T. J. and Edwards, G. E. (2004) Dynamic flexibility in the light reactions of photosynthesis governed 
                | by both electron and proton transfer reactions. Trends Plant Sci 9, 349-357

              a.btn.btn-sm.btn-outline-secondary(href="/photosynthesis-scheme", target="_blank" rel="noreferrer") #[i.bi.bi-pencil-square] Create a Figure
              | 
              a.btn.btn-sm.btn-outline-secondary(href="https://github.com/SeBassTian23/photosynthesis-scheme", target="_blank" rel="noreferrer") #[i.bi.bi-github] Source on GitHub

  section
    .container
      .row
        .col-12.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Data Visualization]#[br]Calendar Heatmap
            .col-12.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/calendar-heatmap/") !{filters.image( filters.url("/images/programming/calendar-heatmap-sm.svg"), "Calendar Heatmap" )}
            .col-12.col-md-8.offset-md-4.order-last
              p When working with time-resolved data, Calendar heatmaps can be a great tool to visualize clusters, outliers,
                | trends, and seasonal cycles over different periods, using a calendar layout with color gradients.
                | This tool makes it easy to create a heatmap from a dataset formatted as a CSV or JSON file.
                | The resulting map can be edited and saved as SVG or PNG.

              a.btn.btn-sm.btn-outline-secondary(href="/calendar-heatmap", target="_blank" rel="noreferrer") #[i.bi.bi-pencil-square] Create SVG Heatmap
              | 
              a.btn.btn-sm.btn-outline-secondary(href="https://github.com/SeBassTian23/calendar-heatmap", target="_blank" rel="noreferrer") #[i.bi.bi-github] Source on GitHub

  section
    .container
      .row
        .col-12.col-md-6.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Periodic Table]#[br]Elements
            .col-6.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/periodic-table-of-elements/") !{filters.image( filters.url("/images/science/icon-elements-periodic-table.svg"), "Periodic Table of Elements" )}
            .col-12.col-md-8.offset-md-4.order-last
              p This was a small project to build an interactive Periodic Chart of Elements as part of an application, that never came to be.
              p The element information is provided by Pubchem.
              a.btn.btn-sm.btn-outline-secondary(href="/periodic-table-of-elements/")
                svg(viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' style="height: 1rem; width: 1rem; margin-top: -0.1rem; margin-right: 0.25rem; display: inline-block; vertical-align: middle; fill: currentColor;")
                  circle(cx='158.52' cy='158.913' r='24.163' transform='translate(-8.52 -8.913)')
                  path(d='M215.934 33.897c26.501 14.954 18.422 79.545-18.032 144.15-36.453 64.604-87.564 104.914-114.066 89.96-26.501-14.954-18.422-79.544 18.031-144.149 36.454-64.604 87.565-104.914 114.067-89.96zm-5.12 9.073c-7.953-4.488-18.588-.869-30.565 6.424-22.809 13.89-48.474 42.657-69.31 79.583-20.835 36.926-32.19 73.768-32.287 100.473-.05 14.022 2.35 24.997 10.303 29.485 7.953 4.487 18.589.868 30.565-6.425 22.81-13.89 48.475-42.657 69.31-79.582 20.836-36.926 32.19-73.768 32.288-100.473.05-14.023-2.35-24.998-10.303-29.485z')
                  path(d='M83.836 33.897c-26.501 14.954-18.422 79.545 18.032 144.15 36.453 64.604 87.564 104.914 114.066 89.96 26.501-14.954 18.422-79.544-18.031-144.149-36.454-64.604-87.565-104.914-114.067-89.96zm5.12 9.073c7.953-4.488 18.588-.869 30.565 6.424 22.809 13.89 48.474 42.657 69.31 79.583 20.835 36.926 32.19 73.768 32.287 100.473.05 14.022-2.35 24.997-10.303 29.485-7.953 4.487-18.589.868-30.565-6.425-22.81-13.89-48.475-42.657-69.31-79.582C90.104 136.002 78.75 99.16 78.652 72.455c-.05-14.023 2.35-24.998 10.303-29.485z')
                  path(d='M15.482 151.007c.012 30.429 60.246 55.11 134.425 55.079 74.18-.03 134.393-24.76 134.38-55.189-.012-30.43-60.246-55.11-134.425-55.08-74.18.031-134.393 24.76-134.38 55.19zm10.417-.004c-.004-9.132 8.371-16.62 20.606-23.472 23.3-13.048 60.963-21.28 103.361-21.297 42.399-.017 80.068 8.184 103.38 21.213 12.24 6.842 20.621 14.322 20.625 23.454.003 9.132-8.372 16.62-20.606 23.471-23.3 13.049-60.964 21.28-103.362 21.297-42.398.018-80.068-8.183-103.38-21.212-12.24-6.842-20.62-14.323-20.624-23.454z')
                | View Elements

        .col-12.col-md-6.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Periodic Table]#[br]Amino Acids
            .col-6.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/periodic-chart-of-amino-acids/") !{filters.image( filters.url("/images/science/icon-aa-periodic-table.svg"), "Periodic Chart of Amino Acids" )}
            .col-12.col-md-8.offset-md-4.order-last
              p Biologists have a Periodic Chart too! Like the one for Elements, this chart was also intended to be part of an application.
              p The chart was originally published by Bachem AG.
              a.btn.btn-sm.btn-outline-secondary(href="/periodic-chart-of-amino-acids/")
                svg(width='100%' height='100%' viewBox='0 0 81 74' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;height: 1rem; width: 1rem; margin-top: -0.1rem; margin-right: 0.25rem; display: inline-block; vertical-align: middle; fill: currentColor;")
                  g(transform='matrix(1,0,0,1,-46.238,-22.014)')
                    path(d='M46.238,54.41L47.045,53.032L69.988,66.237L69.988,67.187L69.133,67.614L46.238,54.41Z' style='fill-rule:nonzero;')
                    path(d='M70.843,67.614L69.988,67.187L69.988,66.237L102.62,47.427L102.62,49.28L70.843,67.614Z' style='fill-rule:nonzero;')
                    path(d='M102.62,49.28L102.62,47.427L127.083,61.535L126.275,62.96L102.62,49.28Z' style='fill-rule:nonzero;')
                    rect(x='98.963' y='22.014' width='1.616' height='27.978' style='fill-rule:nonzero;')
                    rect(x='104.663' y='22.014' width='1.615' height='27.978' style='fill-rule:nonzero;')
                    path(d='M73.599,95.355L66.33,95.355L69.132,67.615L69.987,67.187L70.842,67.614L73.597,95.355L73.599,95.355Z' style='fill-rule:nonzero;')
                | View Amino Acids

  section
    .container
      .row
        .col-12.col-md-6.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Predict &amp; Calculate]#[br]Protein Properties
            .col-6.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/protein-parameters/") !{filters.image( filters.url("/images/science/protein-parameters.svg"), "Predict Protein Parameters" )}
            .col-12.col-md-8.offset-md-4.order-last
              p A future update of the MS/MS database application #[a(href="https://doi.org/10.1186/1471-2105-9-302" target="_blank") 2DB] was supposed to have numerous little functions helping to quickly characterize proteins identified by mass spectrometry.
              p The functions, originally in PHP, have found a new home here.
              a.btn.btn-sm.btn-outline-secondary(href="/protein-parameters/") #[i.bi.bi-calculator] Calculate Parameters

        .col-12.col-md-6.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Predict &amp; Calculate]#[br]Chlorophyll Content
            .col-6.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/chlorophyll-content/") !{filters.image( filters.url("/images/science/chlorophyll.svg"), "Calculate Chlorophyll Content" )}
            .col-12.col-md-8.offset-md-4.order-last
              p Working with plants or algae provides the option to use either total protein content or chlorophyll content for the planned experiment.
              p This calculator allows calculating the chlorophyll content according to Porra et al.
              a.btn.btn-sm.btn-outline-secondary(href="/chlorophyll-content/") #[i.bi.bi-calculator]  Calculate Content


  section
    .container
      .row
        .col-12.col-md-6.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Formatting]#[br]FASTA
            .col-6.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/format-fasta/") !{filters.image( filters.url("/images/science/fasta.svg"), "Format FASTA file output" )}
            .col-12.col-md-8.offset-md-4.order-last
              p Formatting a DNA/RNA or AminoAcid sequence can be a pain, especially if you only have to do it occasionally and you don't have those fancy tools.
              p This tool you allows to quickly format your sequence to fit your needed layout.
              a.btn.btn-sm.btn-outline-secondary(href="/format-fasta/") #[i.bi.bi-chevron-right] Format FASTA

        .col-12.col-md-6.my-md-5.my-3
          .row
            .col-12.col-md-8.order-first.order-md-2
              h4 #[span.fw-lighter Formatting]#[br]Citations
            .col-6.col-md-4.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/formatted-citation/") !{filters.image( filters.url("/images/science/doi.svg"), "Get formated Citiation by DOI" )}
            .col-12.col-md-8.offset-md-4.order-last
              p Originally part of a simple function made for the PhotosynQ platform to add references, this form can now be used to receive a formatted citation.
              p No need to fire up your reference manager, a DOI number is enough.
              a.btn.btn-sm.btn-outline-secondary(href="/formatted-citation/") #[i.bi.bi-quote] Get Citation

  section
    .container
      .row
        .col-12.my-5
          .row
            .col-12.col-md-10.order-first.order-md-2
              h4 #[span.fw-lighter From Before the New Millenium]#[br]Jugend Forscht
            .col-6.col-md-2.order-2.order-md-first
              a.link-darken.d-block.position-relative(href="/jugend-forscht/") !{filters.image( filters.url("/images/jugend-forscht/jugend-forscht.svg"), "Jugend Forscht" )}
            .col-12.col-md-10.offset-md-2.order-last
              p
                | #[a(href="https://www.jugend-forscht.de/" rel="nofollow" target="_blank" lang="de-DE") Jugend forscht] (Youth researches) is a German
                | competition in the areas of science, technology, engineering, and mathematics (STEM) which two friends and I entered in high school back in 1999.
                | This is the work we did on identifying different leaf pigments over the course of a year in #[i Parthenocissus tricuspidata], titled
                | #[em(lang="de-DE") &quot;Die Wilden Farben des Wilden Weins&quot;] - #[em &quot;The Various Colors of Boston Ivy&quot;].
