---
layout: home
title: Tags
description: Overview of available Tags and Posts
permalink: tags/
dynamicPermalink: false
excludeFromSitemap: true
---
include /shared/block-hero
include /shared/block-post
block append content

  - var tag = tag || collections.tagList[Math.floor(Math.random() * collections.tagList.length)]
  - var headerImage = filters.imageResizedURL( image || filters.titleImgFromAlbum(album) || collections[ tag ].toReversed()[0].data.image || filters.titleImgFromAlbum(collections[ tag ].toReversed()[0].data.album), "webp", 1500) || {url: null}
  +hero-1({h2: "Tags"})(class="mb-4", style=`background-image: linear-gradient(135deg,rgba(var(--bs-secondary-rgb), ${headerImage.url? "0.85" : "1.0"}) 50%, rgba(var(--bs-primary-rgb), ${headerImage.url? "0.85" : "1.0"}) 100%)${headerImage.url? ", url(" + headerImage.url + ");" : ";"} background-position: center; background-size: cover;`) 

  section.container
    .row.mb-1.px-2
      .col
        nav(style=`--bs-breadcrumb-divider: '▸';` aria-label="breadcrumb")
          ol.breadcrumb
            li.breadcrumb-item: a(href="/posts/") Posts
            li.breadcrumb-item.active(aria-current="page") Tags  
    .row 
      .col
        for tag, i in collections.tagList
          - tagUrl = "/tags/"+ filters.slugify(tag)
          h2.text-uppercase #[a.text-decoration-none(href=href=filters.url(tagUrl)) #{tag}]
          .row.row-cols-2.row-cols-sm-3.row-cols-md-5.mt-2
            for post, idx in collections[ tag ].toReversed().slice(0,5)
              +post-card-sm(post)(class=`pb-3${idx > 3? ' d-none d-sm-block' : ''}`)
          if collections[ tag ].length > 4
            .row.my-2
              .col 
                a.btn.btn-sm.btn-outline-secondary(href=filters.url(tagUrl))
                  | Show all #{collections[ tag ].length} →

          if collections.tagList.length-1 > i
            .row.px-5.py-2
              hr
