extends default.pug

include /shared/block-hero
include /shared/block-post
include /shared/block-social

block append head 
  script(defer, src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js")
  if album
    script(defer, src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
    script(defer, src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js",integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D", crossorigin="anonymous")
  script(defer, src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js")
  script(defer, src="/javascript/search.js")

block append header 
  include /shared/block-header-2

block append content
  +post-header(description, image, imageAlt)
  .container
    .row
      .col-md-9.block-post-1
        article(lang=language)
          //- Article Header
          section.row.mb-4
            .col
              .mb-1.text-muted(style="text-transform: uppercase;")
                each tag, index in tags
                  - tagURL = "/tags/" + filters.slug(tag) + "/"
                  if( index > 0)
                    span.mx-2 |
                  a.text-muted(href=filters.url(tagURL) style="text-decoration:none") #{tag}

              h1.text-primary #{title}
              .small.mb-1 #{author || "unknown"}
              .small.text-muted #[time(datetime=filters.htmlDatetimeString(page.date)) #{filters.formatedDate(page.date)}]

          section.row.post-content   
            .col.clearfix
              | !{content}

          if album 
            +album(album)

          if imagesource
            small.text-muted !{filters.markdown(imagesource)}

      .col-md-3
        aside.pt-5(style="z-index:1!important;", class=(toc? "sticky-md-top": ""))
          //- Search Container
          .row
            .col.px-3
              h6 Search
              input.form-control#searchField(type="search", placeholder="Search Articles")
              .d-flex.flex-row.justify-content-end
                ul#searchResults.dropdown-menu.dropdown-menu-end(style="min-width:20rem;")
          hr
          //-  Table of Content Container
          if toc
            .row
              .col.px-3
                h6 On This Page
                | !{filters.toc(content, {tags:['h2', 'h3'], wrapperClass:"toc", ul: true })}
            hr
          //- Tags
          if collections.tagList.length > 0
            .row
              .col.px-3
                h6 Tags
                each tag, index in collections.tagList
                  - tagURL = "/tags/" + filters.slug(tag) + "/"
                  a.tag.bg-light.link-darken.me-1.mb-1(href=filters.url(tagURL)) #{tag}
            hr

          //- More Posts
          if collections.posts.length > 1
            .row
              .col.px-3
                h6 More Posts
                //- collection, item, limit = 3, random = true
                .row.d-flex.justify-content-around.p-3
                  - var suggestions = helpers.getSiblingContent(collections.posts, page)
                  each el in suggestions
                    +post-card-sm(el)(class="col-12 mb-2 p-0")
            hr
          
          //- More Posts
          .row
            .col.px-3
              h6 Share
              .d-flex.justify-content-around
                +social-share({...page,...{title: title}})(class="col-12 mb-3")

    script.
        document.addEventListener('DOMContentLoaded', function () {
            mediumZoom('.post-album picture img');
        });

block append footer
    include /shared/block-footer
